<div class="container mt-4">
    <h2>Add Seat</h2>
    
    <div class="form-group">
      <label for="row">Row</label>
      <input type="text" id="row" [(ngModel)]="seat.row" class="form-control" placeholder="Enter row">
    </div>
  
    <div class="form-group mt-3">
      <label for="number">Seat Number</label>
      <input type="number" id="number" [(ngModel)]="seat.number" class="form-control" placeholder="Enter seat number">
    </div>
  
    <div class="form-group mt-3">
      <label for="hallId">Hall ID</label>
      <input type="number" id="hallId" [(ngModel)]="seat.hallId" class="form-control" placeholder="Enter Hall ID">
    </div>
  
    <button class="btn btn-primary mt-3" (click)="addSeat()">Add Seat</button>
  
    <div *ngIf="message" [ngClass]="{'alert alert-success': !isError, 'alert alert-danger': isError}" class="mt-3">
      {{ message }}
    </div>
  </div>
  